<!DOCTYPE html>
<html lang="en">
<head>
   <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
</head>
<header>
    <nav class="navbar navbar-mynav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/images.jp" style="margin-top: -10px" alt="logo"></a>
            </div>
            
            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login">Logout</a></li> 
                       
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
        
  </header>
<body>
 
  <div class="jumbotron" style="">
            <img src="images/services/house8.jpeg" alt="Flower" width="1000" height="380" style="margin-top: -70px">

    
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4" style="margin-top: -300px;margin-left: 600px;">
        <div class="jumbotron" >
  <h2 style="color: #000; font-size: 20px; text-align: center;margin-top: -20px;width: "><b>About BeAgent</b></h2>
    <p style="color: #000; font-size: 15px; margin-left: 35px;" >Get.DreamHouse.our Business.<br><span>That's waht we do</span></span></p>
    <p style="color: #000; font-size: 15px; margin-left: 35px;" >Get.DreamHouse.our Business.<br><span>That's waht we do</span></span></p>
    <p style="color: #000; font-size: 15px; margin-left: 35px;" >Get.DreamHouse.our Business.<br><span>That's waht we do</span></span></p>

 
          
         </div>
      </div>
      
    </div>
  </div>
    

  <!-- <div style="margin-top: -300px; margin-left: 300px; ">
    <h2 style="color: #000"><b>About BeAgent</b></h2>
    <p>Get.DreamHouse.our Business.<br><span>That's waht we do</span></p>
  </div> -->
 <div class="container" style="margin-top: 
 px">
 <div class="row">
  <div class="col-sm-7">
    <div class="jumbotron">
  <h2 style="color: #000; text-align: center;"><b>History</b></h2>
 
    <p style="color: #000; font-size: 15px" >BeAgent, Is a start up  online House Agent Web App. Though, was established in May 2015 with the aim and vision to become the biggest Agent WebApp in Nigeria with implementation of best practices both online and offline.</p>
  <p style="color: #000; font-size: 15px">Initially starting with 2 employees, BeAgent presently has a staff strength of 10 young and entrepreneurial Nigerians including our 5 man strong customer service team available 7 days a week.</p>
  <p style="color: #000; font-size: 15px">BeAgent is the best online House Agent App in Nigeria. With our service center in lagos only.

  </div>


  </div>
  <div class="col-sm-5"></div>
</div>
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-7">
    <div class="jumbotron">
  <h2 style="color: #000; text-align: center;"><b>What we do</b></h2>
  <p style="color: #000; font-size: 15px">BeAgent is an online House agent web App. We upload photos of available houses around lagos Nigeria with the intention to help you get your dream house without the Nigerian house Agent syndrone. You are allowed to serch through our available houses and if a customer finds a good one you give a call to our standby agents.</p>
</div>

  </div>
</div>
<div class="row">
  <div class="col-sm-7">
    <div class="jumbotron">
  <h2 style="color: #000; text-align: center;"><b>Who is this web App for?</b></h2>
  <p style="color: #000; font-size: 15px">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
  mobile-first projects on the web.</p>
</div>

  </div>
  <div class="col-sm-5"></div>
</div>
<div class="row">
  <div class="col-sm-5"></div>
  <div class="col-sm-7">
    <div class="jumbotron">
  <h2 style="color: #000; text-align: center;"><b>Our Service Center</b></h2>
  <p style="color: #000; font-size: 15px">Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive,
  mobile-first projects on the web.</p>
</div>

  </div>
</div>
   
 </div>

  <footer>
        
        <% include ./footer %>
    </footer>
   

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/validateScript.js" type="text/javascript"></script>      
</body>
</html>