 <footer id="" class="midnight-blue">
        <div class="container-fluid ">
            <div class="row" style="display: inline;">
                <div  class="col-md-4">
                    <p  style="text-align: left;color: #fff;font-size: 15px"><b>About BeAgent</b></p>
                    <ul  style="text-align: left; list-style: none;">
                        <li><a href="#">Company info</a></li>
                        <li><a href="#">Advertise with us</a></li>
                        <li><a href="#">Policies</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Tell us what you think</a></li>
                    </ul>
                </div>
                <div  class="col-md-4">
                    <p style="text-align: left;color: #fff;font-size: 15px"><b>Help and conntact</b></p>
                    <ul style="text-align: left; list-style: none;">
                        <li><a href="#">Help center</a></li>
                        <li><a href="#">Contact us</a></li>
                       
                    </ul>
                </div>
                <div  class="col-md-4">
                    <p  style="text-align: left;color: #fff;font-size: 15px"><b>Stay Connected</b></p>
                    <ul  style="text-align: left; list-style: none;">
                        <li><a href="#">Juliette's blog</a></li>
                        <li><a href="#">twitter</a></li>
                        <li><a href="#">facebook</a></li>
                        <li><a href="#">instatgram</a></li>
                        <li><a href="#">GitHub</a></li>
                    </ul>
                </div>
                
                
                
            </div>
            <div class="row">
                <div class="col-sm-12" style="color: #fff;font-size: 15px; text-align:center">
                    &copy; 2016 AgentApp. All Rights Reserved.
                </div>
                
            </div>
        </div>
       

    </footer><!--/#footer-->
